<h1>Editing flagged for review</h1>

<%= render "form", flagged_for_review: @flagged_for_review %>

<br>

<div>
  <%= link_to "Show this flagged for review", @flagged_for_review %> |
  <%= link_to "Back to flagged for reviews", flagged_for_reviews_path %>
</div>
